<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        ">
    <!--导入配置文件-->
    <context:property-placeholder location="classpath:app-config.properties" />

    <!--数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--初始化连接数-->
        <property name="initialPoolSize" value="${jdbc.initialPoolSize}" />
        <!--最大连接数-->
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}" />
        <!--最小连接池数-->
        <property name="minPoolSize" value="${jdbc.minPoolSize}" />
        <!--获取连接超时时间-->
        <property name="checkoutTimeout" value="${jdbc.checkoutTimeout}" />
        <!--连接关闭后不commit-->
        <property name="autoCommitOnClose" value="${jdbc.autoCommitOnClose}" />
        <!--获取连接失败重试次数-->
        <property name="acquireRetryAttempts" value="${jdbc.acquireRetryAttempts}" />
    </bean>

    <!--SqlSession-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis-config.xml" />
        <!-- 使用别名 -->
        <!-- domain的包路径，类似MyBatis的typeAliases配置 -->
        <property name="typeAliasesPackage"
                  value="com.endos.groupon.service.entity" />
        <!-- sql文件 -->
        <!-- mapper配置文件的路径，类似MyBatis的mappers配置 -->
        <property name="mapperLocations" value="classpath:mapper/*.xml" />
    </bean>

    <!-- 扫描接口类的包路径 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注入sqlSession-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--Dao接口包-->
        <property name="basePackage" value="com.endos.groupon.service.dao"/>
    </bean>

</beans>